/*=== Fonts ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*================= 
common-style 
==================*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
img{
    width: 100%;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.section-title {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
/*================= 
    Header 
==================*/
header{
    background-color: #2D25A0;
    padding: 42px 0px 42px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    padding-inline-start: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
nav ul li:hover{
    background: #E02C6D;
}
nav ul li a{
    text-decoration: none;
    color: #F3F1FF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
}
.login-btn{
    display: flex;
    flex-direction: row;
    background: #E02C6D;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    width: 123px;
    height: 44px;
    transition: all .3s ease-in-out;
}
.login-btn a{
    text-decoration: none;
    color: #F3F1FF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
}
.login-btn i{
    color: #FAFAFA;
    margin-right: 15px;
}
.login-btn:hover{
    color: black;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
}
/*================= 
    Banner 
==================*/
.banners-area{
    background-color: #2D25A0;
    padding-bottom: 86px;
    padding-top: 67px;
    margin-bottom: 70px;
}
.banner-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-text h1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    width: 70%;
}
.watch-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #E02C6D;
    padding: 10px 24px;
    width: 168px;
    height: 44px;
  
    
}
.watch-btn:hover{
    transition: all 1s ease-in-out;
    color: black;
    cursor: pointer;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
}
.watch-btn i{
    color: #FAFAFA;
    margin-left: 15px;
}
.watch-btn a{
    color: #FAFAFA;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

  @keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }
  }

.banners-area:hover img{
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*================= 
    Blog Area 
==================*/
.blog-area{
    margin-bottom: 150px;
}
.blogers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.blog{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog-thumbnail{
    overflow: hidden;
    cursor: pointer;
}
.blog-thumbnail img{
    width: 100%;
    transition: all 1s ease-in-out;
}
.blog-thumbnail img:hover{
    transform: scale(1.2);
}
.blog-info h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.blog-info p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    justify-content: center;
}
/*================= 
    Featured-Area
==================*/
.featured-area{
    margin-bottom: 150px;
}
.feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-content{
    width: 69%;
}
.feature-content h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}
.feature-content p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.feature-images{
    width: 100%;
}
/*================= 
   Players-gallery
==================*/
.Players-gallery{
    background-color: #2D25A0;
    padding: 50px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.player{
    margin: 10px;
    padding: 10px 10px 5px 10px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.player img{
    transition: all 1s ease-in-out;
}
.player img:hover{
    transform: scale(1.2);
}
/*================= 
   Footer - Area 
==================*/
footer{
    background-color: #FFFFFF;
    padding:63px 0px;
}
.footer-inside{
    text-align: center;
    width: 483.87px;
    margin: auto;
}
.footer-logo img{
    width: 100%;
    padding-bottom: 20px;
}
.bg-cercal{
    background: #e7e7e8;
    padding: 10px;
    margin-left: 7px;
    border-radius: 50%;
}
.bg-cercal:hover{
    background: #E02C6D;
    color: #FFFFFF;
}



/* =======Mobile Sereen Breckpoint ======= */

@media only screen and (max-width:688px) {
.container{
        width:100%;
        margin: 0 auto;
}
/* ======= Header ======= */
header{
    display: none;
}
/* ======= Banner ======= */
.banners-area {
    padding-bottom: 44px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.banner-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
}
.banner-text{
    margin-bottom: 50px;
}
.banner-text h1{
    font-size: 45px;
    line-height: 55px;
    width: 100%;
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
  }

.banners-area:hover img{
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ======= Blog ======= */
.blog-area{
    margin-bottom: 50px;
}
.blogers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
/* ======= Feature Area ======= */

.feature-content h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #0A0826;
    margin: 0;
}
.featured-area {
    margin-bottom: 50px;
    padding: 0px 20px;
}
.feature-content {
    padding-bottom: 20px;
    width: 100%;
}
.feature-images{
    width: 100%;
}
.feature{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
/* ======Gllery Area ====== */
.Players-gallery {
    padding: 0px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* ====== Footer ====== */
.footer-inside{
    width: 100%;
}
.footer-logo img{
    width: 80%;
    padding-bottom: 20px;
}

}
/* =======Tablet Sereen Breckpoint ======= */
    @media only screen and (min-width: 688px) and (max-width: 1159px){
    .container{
        width:100%;
        margin: 0 auto;
    }
    /* ======= Header ======= */
    header {
        padding: 42px 15px 42px;
    }
    /* ======= Banner ======= */
    .banners-area {
        background-color: #2D25A0;
        padding-bottom: 86px;
        padding-top: 0px;
        margin-bottom: 35px;
    }
    .banner-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px;
    }
    .banner-text h1{
        font-size: 45px;
        line-height: 55px;
    }
    @keyframes slide-left {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
        }
      }
    
    .banners-area:hover img{
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    /* ======= Blogs ======= */
    .blog-area {
        margin-bottom: 50px;
    }
    .blogers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    /* ======= Feature ======= */
    .feature{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-area {
        margin-bottom: 50px;
        padding: 0px 20px;
    }
    .feature-content {
        padding-bottom: 20px;
        width: 100%;
    }
    .feature-images{
        width: 100%;
    }
    .feature-content h2 {
        font-family: Poppins;
        font-weight: 700;
        font-size: 35px;
        line-height: 60px;
        color: #0A0826;
        margin: 0;
    }
    /* ======Gllery Area ====== */
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
  